body{
    font-family:monospace;
    color:#323A39;
    background-color:#EAF2F1 ;
    width:640px;
    flex-direction: center;
    margin-right: auto;
    margin-left: auto;
    
}
section{

}

h1{
    font-size:64px;
    
}

img{
    border-radius:50%;
    width:150px;
}

nav {
    background-color:#E32910;
    padding: 20px 40px 20px 40px;
  }

nav a{
    
   
    color:#EAF2F1;
  }